.Book-Card {
  display: flex;
  align-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 1rem;
  box-shadow: 20px 20px 20px var(--shadow-main);
  border-radius: 1rem;
  transition: ease 0.9s;
}
.Book-Card:hover,
.Book-Card:focus {
  transform: scale(115%);
  box-shadow: 25px 25px 25px var(--shadow-hover);
}
.Book-Image {
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 90%;
  border-radius: 0.5rem;
}
.Glossary-Button {
  color: var(--primary-color);
  margin-top: 2vh;
  width: 90%;
}
.Nav-Link {
  margin-left: -1rem;
}
@media (max-width: 350px) {
  .Book-Card:hover,
  .Book-Card:focus {
    transform: scale(108%);
  }
}
